
body > div {
    color: #333;
    font-family: "Source Sans Pro", "Helvetica", sans-serif;
    justify-content: center;
    padding-top: 10%;
}

#left {
    display: flex;
}

#image {
    background-image: url('../img/2024_cartoon_600x600.jpg');
    background-size: 100%;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0 0 12px 12px white inset;
}

h1, h2 {
    text-align: center;
}

ul {
    margin: 10% 20%;
}

li {
    font-size: 1.4em;
    font-weight: bold;
    list-style-type: none;
    margin-bottom: 20px;
}

li img {
    height: 32px;
    width: 32px;
    margin-right: 10px;
}

a {
    color: #555;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (min-width: 800px) {
    body {
        display: flex;
    }

    body > div {
        width: 50%;
    }
}
